@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Source+Code+Pro&family=Titillium+Web:wght@200&display=swap');

:root {
  --textColor: #3F3B37;
  --textLightColor:#56514c;
  --textExtraLightColor:#7d756d;
  --backColor: #EEE9DB;
  --pink:#ff007f;
}

@font-face {
  font-family: bayland;
  src: url('/Bayland-Regular.ttf');
}

@font-face {
  font-family: champion;
  src: url('/Champion.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: sans-serif;
}

body {
  background-color: var(--backColor);
  height: max-content;
  min-height: 100dvh;
  overflow-x: hidden;
  width: 100dvw;
  /* overflow-y: hidden; */
  /* cursor: none; */
  /* position: relative; */
}



.mouse1 {
  pointer-events: none;
  position: fixed;
  /* cursor: none; */
  /* left: 0; */
  /* transform: translate(50%, 50%); */
  background-color: #524e4b5f;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: -1;
  /* transition:1s cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mouse2 {
  position: fixed;
  pointer-events: none;
  /* cursor: none; */
  /* left: 0; */
  /* transform: translate(50%, 50%); */
  background-color: #3f3b3790;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.mouse3 {
  position: fixed;
  pointer-events: none;
  /* cursor: none; */
  /* left: 0; */
  /* transform: translate(50%, 50%); */
  background-color: #ff007f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: -1;
  /* transition:1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.movingcircle {
  position: fixed;
  right: -75px;
  bottom: -75px;
  width: 300px;
  height: 300px;
  /* background-color: #3F3B37; */
  z-index: 10;
  border-radius: 50%;
  color: var(--textColor);
}

#container {
  position: fixed;
  width: 200px;
  height: 200px;
  z-index: 10;
  right: 0;
  bottom: 0;
  margin: 0%;
  border-radius: 50%;
  background-color: #fff;
}

#circle {
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle text {
  font-family: 'Helvetica Neue', Arial;
  font-size: 22px;
  font-weight: bold;
  color: #3F3B37;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;

  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }

  to {
    -moz-transform: rotate(0);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }

  to {
    -ms-transform: rotate(0);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }

  to {
    -o-transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}



.movingcircleinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid var(--textColor); */
  box-shadow: -3px 3px 0px var(--textColor);
  /* flex-direction: column; */
  /* border-radius: 50%; */
  transition: 100ms ease-in-out;
}

.movingcircleinner:hover {
  box-shadow: none;
  transform: translate(calc(-50% - 3px), calc(-50% + 3px));
}

.movingcircleinner span {
  /* position: absolute; */
  background-color: var(--textColor);
  height: 4px;
  width: 15px;
}

.movingcircleinner span:nth-child(1) {

  transform: translate(3.5px) rotate(-45deg);
}

.movingcircleinner span:nth-child(2) {
  transform: translate(-3.5px) rotate(45deg);
}



@media screen and (width<850px) {
  .mouse1{
    display: none;
  }
  .mouse2{
    display: none;
  }
  .mouse3{
    display: none;
  }
}